@if (profileData) {
    <div class="headerContainer flex flex-col items-center justify-center text-center">
        <header class="w-4/5">
            <div class="flex flex-col items-center justify-center ">
                <h1>BIBLIOTECA IES ESTEVE TERRADAS I ILLA</h1>
                <p class="text-white font-semibold">Text de subtítol</p>
            </div>
        </header>
    </div>
    
    <div class="flex flex-row px-10 mb-40 justify-center items-center gap-x-20 w-full">
        <div class="confCompteContainer w-1/2">
            <div class="flex flex-row items-center">
                <p-avatar label="{{initials}}" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
    
                <div class="flex flex-col items-start">
                    <p class="font-bold">IETI</p>
                    <p>{{roleName}}</p>
                </div>
            </div>
    
    
            <div class="edicioCompteContainer">
                <div class="flex flex-row gap-x-20 justify-between items-center">
                    <div class="flex flex-col">
                        <h3>Nom</h3>
                        @if (!isEditingName) {
                            <p>{{profileData.name}} {{profileData.surname}} {{profileData.surname2}}</p>
                        } @else {
                            <div class="flex flex-col gap-2">
                                <input pInputText [(ngModel)]="newName" placeholder="Nom" styleClass="w-1/2">
                                <input pInputText [(ngModel)]="newSurname" placeholder="Primer cognom" styleClass="w-1/2">
                                <input pInputText [(ngModel)]="newSurname2" placeholder="Segon cognom" styleClass="w-1/2">
                            </div>
                        }
                    </div>
                    <p-button (click)="isEditingName = !isEditingName" severity="fill">Editar</p-button>
                </div>
    
                <div class="flex flex-row gap-x-20 justify-between items-center">
                    <div class="flex flex-col">
                        <h3>Correo</h3>
                        @if (!isEditingEmail) {
                            <p>{{profileData.username}}</p>
                        } @else {
                            <input pInputText [(ngModel)]="newEmail" placeholder="Correo" styleClass="w-1/2">
                        }
                    </div>
                    <p-button (click)="isEditingEmail = !isEditingEmail" severity="fill">Editar</p-button>
                </div>
    
                <div class="flex flex-row gap-x-20 justify-between items-center">
                    <div class="flex flex-col">
                        <h3>Contrasenya</h3>
                        @if (!isEditingPassword) {
                            <p>************</p>
                        } @else {
                            <div class="flex flex-col gap-2">
                                <p-password
                                    [(ngModel)]="lastPassword"
                                    placeholder="Contrasenya actual"
                                    name="password"
                                    id="password"
                                    autocomplete="off"
                                    [feedback]="false"
                                    [toggleMask]="true"
                                    [style]="{'width':'100%', 'height':'3rem'}"
                                    [inputStyle]="{'width':'100%'}"
                                ></p-password>
                                <p-password
                                    [(ngModel)]="password"
                                    placeholder="Nova contrasenya"
                                    name="password"
                                    id="password"
                                    autocomplete="off"
                                    [feedback]="false"
                                    [toggleMask]="true"
                                    [style]="{'width':'100%', 'height':'3rem'}"
                                    [inputStyle]="{'width':'100%'}"
                                ></p-password>
                                <p-password
                                    [(ngModel)]="repeatPassword"
                                    placeholder="Repetir contrasenya"
                                    name="password"
                                    id="password"
                                    autocomplete="off"
                                    [feedback]="false"
                                    [toggleMask]="true"
                                    [style]="{'width':'100%', 'height':'3rem'}"
                                    [inputStyle]="{'width':'100%'}"
                                ></p-password>
                            </div>
                        }
                    </div>
                    <p-button (click)="isEditingPassword = !isEditingPassword" severity="fill">Editar</p-button>
                </div>
            </div>
        </div>
    
        <div class="flex flex-col justify-center items-start w-fit">
            <h2>Estado de la cuenta</h2>
            <div>
                <p-button severity="dangeroutlined" (onClick)="_profileService.logout()">Tancar sessió</p-button>
    
                <hr>
    
                <div class="flex flex-row items-center gap-x-4">
                    <p-button (click)="cancelChanges()" severity="min">Cancelar</p-button>
                    <p-button (click)="saveChanges()" severity="fill-rounded">Guardar cambios</p-button>
                </div>
            </div>
        </div>
    </div>
}