@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    /* height: 100%; */
    margin: 0;
    padding: 0;
}


body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #59B468;
    border-radius: 100px;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: "Urbanist", sans-serif;
    font-size: 100px;
    font-weight: 900;
    line-height: 90px;
    background: linear-gradient(143deg, rgba(252,255,130,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h2 {
    font-size: 30px;
    font-weight: 800;
    color: #556958;
}

h3 {
    font-size: 14px;
    font-weight: 800;
    color: #556958;
}

p {
    font-family: "Roboto Flex", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #556958;
}

label {
    font-size: 14px;
    font-weight: 400;
}